/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Global styling  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --heading: "Montserrat", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
} */

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vh;
  border: 1px solid #000;
  background-color: #fff;
}

nav {
  display: flex;
  background-color: #1b2743;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vw;
}

nav ul li {
  padding-right: 5vw;
  transition: all 0.3s ease;
}

nav ul li:hover {
  transform: scale(1.1); /* No me gusta esta transicion reveer */
}

nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
}
